[submodule "staut-YCSB-cpp"]
	path = staut-YCSB-cpp
	url = https://github.com/t3suzuki/staut-YCSB-cpp.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "wiredtiger"]
	path = wiredtiger
	url = https://github.com/wiredtiger/wiredtiger.git
